Package: snatch
Version: VERSIONPLACEHOLDER
Provides: snatch
Maintainer: ISP RAS <natch@ispras.ru>
Architecture: amd64
Section: devel
Depends: DEPENDENCIESPLACEHOLDER
Description: ISP RAS SNatch.
 ISP RAS SNatch visualizes representation for Natch results.
 