Package: snatch
Version: VERSIONPLACEHOLDER
Provides: snatch
Maintainer: ИСП РАН <natch@ispras.ru>
Architecture: amd64
Section: devel
Depends: DEPENDENCIESPLACEHOLDER
Description: ИСП РАН SNatch.
 ИСП РАН SNatch предлагает визуальное представление результатов работы Natch..
