Package: natch
Version: VERSIONPLACEHOLDER
Provides: natch
Maintainer: ИСП РАН <natch@ispras.ru>
Architecture: amd64
Section: devel
Depends: DEPENDENCIESPLACEHOLDER
Description: ИСП РАН Natch.
 ИСП РАН Natch позволяет определить поверхность атаки.
