Package: libvmidb
Version: VERSIONPLACEHOLDER
Provides: libvmidb
Maintainer: ИСП РАН <natch@ispras.ru>
Architecture: amd64
Section: devel
Depends: libc6, libglib2.0-0, libzstd1, zlib1g
Description: Дополнительный пакет для ИСП РАН Natch и SNatch.
